<nav class="navbar navbar-bg p-3 sticky-top">
    <div class="container-fluid">
        <div>
            <a routerLink="/" class="d-flex align-content-center text-decoration-none">
                <i class="fa-regular fa-comments me-3 text-color fs-2"></i>
                <span class="navbar-brand mb-0 h1 fs-3 text-color LogoShareHubFont">ShareHub</span>
            </a>
        </div>
        <div>
            <ul class="nav justify-content-end TextoShareHubFont fw-semibold">
                <li class="nav-item mt-2">
                    <input type="text" class="input-busqueda rounded-pill w-100 border-0 py-1 px-2"
                        placeholder="Buscar">
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-color hidden-nav-item" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Grupos</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/registro-grupos">Crear Grupo</a></li>
                            <li><a class="dropdown-item" routerLink="/grupos">Mis Grupos</a></li>
                        </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-color hidden-nav-item" routerLink="/">Chat</a>
                </li>
                <li class="nav-item img-hidden-sm">
                    <a class="nav-link text-color" routerLink="/perfil">
                        <img src="" alt="" class="img-perfil-navbar rounded-circle">
                    </a>
                </li>

                <!-- dropdown hidden -->
                <li class="nav-item dropdown dropdown-hiden-menu">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="" alt="" class="img-perfil-navbar rounded-circle">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-bg">
                        <li><a class="dropdown-item text-color" routerLink="/perfil">Perfil</a></li>
                        <li><a class="dropdown-item text-color" href="#">Notificaciones</a></li>
                        <li><a class="dropdown-item text-color" href="#">Explorar</a></li>
                        <li><a class="dropdown-item text-color" routerLink="/grupos">Grupos</a></li>
                        <li><a class="dropdown-item text-color" routerLink="/">Chat</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
