<div class="cuadro card  m-5 col  ">

    <div class="card-body  " >
        <div class="d-flex m-2" *ngFor="let imagen of miladitoderecho()">
            <img class="esta" [src]="imagen.ruta1" alt="">
            <p class=" ms-2 text-white m-0 d-grid align-items-center fst-italic">{{imagen.nombre}}</p>
            <button class=" boton ms-auto rounded-pill px-4 fs-3 py-0 ">      +       </button>
        </div>

    </div>


</div>
<div class="cuadro card  m-5 col">
    <div class="card-body d-flex ">
        <img class="esta"
            src="https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1095249842.jpg" alt="">
        <p class=" ms-4 text-white m-0 d-grid align-items-center">esta</p>
        <button class=" boton ms-auto rounded-pill px-4 fs-3 py-0">      +       </button>
    </div>
    <div class="card-body d-flex ">
        <img class="esta"
            src="https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1095249842.jpg" alt="">
        <p class=" ms-4 text-white m-0 d-grid align-items-center">esta</p>
        <button class=" boton ms-auto rounded-pill px-4 fs-3 py-0">      +       </button>
    </div>
    <div class="card-body d-flex ">
        <img class="esta"
            src="https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1095249842.jpg" alt="">
        <p class=" ms-4 text-white m-0 d-grid align-items-center">esta</p>
        <button class=" boton ms-auto rounded-pill px-4 fs-3 py-0">      +       </button>
    </div>
</div>
<div class="d-flex justify-content-center"><button class="rounded-pill boton btn w-50 my-2 mx-5"> publicar</button></div>

